In [1]:
import pandas as pd

In [2]:
# Задание 1

In [3]:
ratings = pd.read_csv('ratings.csv')
rtgs_filt = ratings[['movieId','rating']]
tops = rtgs_filt[rtgs_filt['rating'] == 5]

In [4]:
tops.groupby('movieId').count().sort_values('rating', ascending = False).head()

         rating
movieId
318         153
296         123
356         116
2571        109
260         104

In [ ]:
# Задание 2

In [5]:
power = pd.read_csv('power.csv')
countries = power[(power['country'] == 'Latvia') | (power['country'] == 'Estonia') | (power['country'] == 'Lithuania')]
countries.head()
years = countries[(countries['year'] >= 2005) | (countries['year'] <= 2010)]
categories = years[(years['category'] == 4) | (years['category'] == 12) | (years['category'] == 21)]
final_pwr = categories[(categories['quantity'] > 0)]

In [6]:
# final_pwr.head()
final_pwr.sum(axis = 0)

country     EstoniaEstoniaEstoniaEstoniaEstoniaEstoniaEsto...
year                                                  2092350
quantity                                               970728
category                                                18373
dtype: object

In [ ]:
# Задание 3

In [7]:
pd.read_html('https://fortrader.org/quotes')[5]

,Type,Last,Chg.,Chg.%,Time
0,Bitcoin Курс биткоина,10333.300000,-13.800,-0.133000,NaN
1,Litecoin Курс лайткоин к доллару (LTC/USD),65.077000,-0.003,-0.005000,NaN
2,BitcoinCash Курс Биткоин кеш к доллару США (BC...,284.530000,-0.220,-0.077000,NaN
3,Dash Dash,78.790000,-0.050,-0.063000,NaN
4,Ripple Ripple,0.251740,+0.00001,0.003970,NaN
5,Ethereum Ethereum,168.528000,-0.070,-0.042000,NaN
6,EmerCoin EmerCoin,0.140050,0.00000,0.000000,NaN
7,NameCoin NameCoin,0.274000,-0.051,-15.692000,NaN
8,PeerCoin PeerCoin,1.300000,+0.16,14.040000,NaN
9,BTCRUB биткоин в рублях,247059.000000,-3 097.00,-1.240000,NaN
10,BTCEUR биткоин в евро,9332.360000,-7.400,-0.079000,NaN
11,Zcash (ZEC),44.635000,-1.232,-2.686000,NaN
12,NEO (NEO),8.689200,-0.0129,-0.148200,NaN
13,EOS (EOS),3.181000,-0.038,-1.180000,NaN
14,TRON (TRX),0.014124,-0.000076,-0.535211,NaN
15,Monero,75.602000,+0.307,0.408000,NaN
16,Cardano,0.044776,-0.000774,-1.699232,NaN
17,IOTA,0.230420,+0.00010,0.043420,NaN
18,"ETC/USD эфириум классик, ETC",6.836400,+0.1557,2.330600,NaN